/* :root{
    --black: #000;
    --yellow: #ffff00;
} */

/* .mantine-Button-root {
    background-color: var(--black);
    font-family: var(--mantine-font-family);
    line-height: var(--mantine-line-height);
  } */
